html{
	box-sizing: border-box; /* What is this ? */
}
*, *:before, *:after { /* What is this ? */
	box-sizing: inherit;
}
body{
	background-color: LightGrey;	
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	letter-spacing: .03em;
	-webkit-font-smoothing: antialiased;
}
}
div{
	border: 1px solid chocolate;
}
.top-navigation{
	background-color: #fff;
	width: 100%;
	border-bottom: .0625px solid #DDD;
	z-index: 9999999;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: #838994;
	letter-spacing: .03em;
	-webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
	width: 60.625rem; /* does not visually match the template site */
	height: 4.375rem;
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
}
.top-navigation .links {
	float: right;
	margin-top: 1.563em;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.logo{
	width: 1.625rem;
	margin-top: 1em; /* is this good practice ? differs from solution */
}
.introduction {
	background-image: url(../images/first-background-copy.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
	color: white;
}
.introduction content {
	color: white;
	padding: 0 1rem;
	width: 60.625;
	margin: 0 auto;
	min-width: 37.5rem;
	
}
.introduction .buttons {
	text-align: center;
	/* color: white;
	margin-top: 1.563rem;*/
} 
button {
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none; /* use in this case ? */
	border-style: none;
	border-radius: .25rem;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}
