html {
	box-sizing: border-box;
}
*, *:before, *:after {  /* NEED TO UNDERSTAND THIS BETTER */
	box-sizing: inherit;
}
body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	letter-spacing: .03rem;
	-webkit-font-smoothing: antialiased;
}
div{
	/*border: 1px solid chocolate;*/
}

.topNavigation {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #ddd;
	z-index: 9999;
	color: #838994;
}
.content {
	max-width: 72rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
}
.topNavigation .links {
	float: right;
	margin-top: 1.5rem;
	font-size: 1.04rem;
}
.topNavigation li {
	display: inline-block;
	margin-left: 1.563rem;
}
.active{
	color: #4c5058;
	font-weight: 500;
}
.topNavigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.topNavigation .logo {
	margin-top: .8rem;
}
.introduction {
	background-image: url(../images/first-background-copy.jpg);
	height: 45.938rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: auto;
}
.introduction h1 {
	font-size: 3.125rem;
	margin-top: 17.5rem;
	margin-bottom: -1rem;
}
.introduction h1, h3 {
	text-align: center;
	color: white;
	font-weight: 300;	
}
.introduction h3{
	font-size: 1.563rem;
	font-weight: 100;
}
.introduction .buttons {
	color: white;
	text-align: center;
	margin-top: 1.563rem;
}
.introduction button {
	width: 9.688rem;
	background-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
}
.cases{
	background-color: white;
	/* overflow: hidden; */
	padding: 6rem 0 5rem 0;
}
.cases .content {
	margin-top: 7.875rem;
	color: #1D1E21;
	text-align: center;
	max-width: 65rem;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;
}
.cases h2 {
	font-size: 2.75rem;
	margin: 1.625rem 0 3.125rem;
	font-weight: 300;
}
.cases h3{
	color: #1D1E21;
	font-weight: 400;
	font-size: 1.563rem;
	margin: 2.5rem 0 1.875rem;
}
.cases .devices li {
	float: center;
	display: inline-block;
	margin: 0 2rem 0 2rem;
}
.cases .devices {
	max-width: 60rem;
	margin: 0 auto;
}
.social > .content{
	background-color: white;
	margin-top: 5rem;
	height: 100%;
	text-align: center;
}
.social .icons {
	margin-left: -2.75rem;
}
.social .icons > li {
	display: inline-block;
	margin: 0 1rem 0 1rem;
}
.social span {
	font-size: .9rem;
	font-weight: 300;
	color: #838994;
}
